@import "vars";
@import "vender/reset";
html {
	font-size: 62.5%;
} 
body {
    background-color: darken($white, 5);
		font-size: 1.6rem;
		line-height: 1.6;
		color: $secondary;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
/* page */
@import 'blocks/page';
/* header */
@import 'blocks/header';
/* sidebar */
@import 'blocks/sidebar';
/* nav */
@import 'blocks/nav';
/* search */
@import 'blocks/search';

@import 'blocks/subnav';

@import 'blocks/stories';

@import 'blocks/add-post';
/* btn */
@import 'blocks/btn';
/* social */
@import 'blocks/social';
/* profile */
@import 'blocks/profile';
/* main */
@import 'blocks/main';
/* container */
@import 'blocks/container';